#quickview-bg-block {  display: none; background-color : rgba(0,0,0,0.35); top: 0; left: 0; right: 0; bottom: 0;  margin: auto; position: fixed; z-index: 9998;  }

.quickview-load-img {  display: none; position: fixed; top: 50%; left: 0; right: 0; bottom: 0; text-align: center; z-index: 15; margin: auto;}

.quickview-container .a-qv-close {
    background: #fff;
    position: fixed;
    z-index: 9999;
    font-size: 14px;
    line-height: 3px;
    color: #333333;
    text-align: center;
    top: 50%;
    border: 2px solid #333;
    padding: 10px 12px;
    font-weight: 600;
    right: 20%;
    margin-top: -275px;
}
.qv-button-container { position: relative }
#quickview-content {
    position: fixed;
    background-color: #FFFFFF;
    border: solid 2px #000000;
    display: none;
    z-index: 25;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    overflow-x:auto !important;
    overflow-y: visible !important;
    z-index: 9999;
    padding: 20px;
}
#quickview-content .image-main {
    display: inline-block; 
    width: 100%;
    border: solid 2px #e48080;
    padding: 10px;
    border-radius: 5px;
    margin: 30px 0;
}
#quickview-content a.thumbnail-image {
    display: block;
    border: 1px solid #f1f1f1;
    margin: 40px 0px;
    padding: 10px
}
#quickview-content a.thumbnail{
    display: block;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    margin: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
#quickview-content .owl-item{padding: 0 3px;}
#quickview-content a.thumbnail-image img{width: 100%;}
#quickview-content h1{margin-top: 25px;padding-top: 0;}

#quickview-content .form-group label{font-size: 18px;}
#quickview-content span.text-title{font-size: 18px; display: inline-block;}
#quickview-content .box-quantity .form-quantity{display: inline-block; position: relative;}

#quickview-content .form-group .button-group button{line-height: 32px;}
#quickview-content ul.price{display: block;}
#quickview-content ul.price li span{display: inline-block;}
.quickview-container .alert.alert-success, .common-home .quickview-container .alert {
    width: 100%;
    z-index: 9999;
    position: absolute;
}
/**/
.image-qv-additional .thumbnail {
    margin: 0 5px 20px 5px;
}
.image-qv-additional.owl-theme .owl-controls .owl-buttons div {
    font-size: 0px;
    color: #fff;
    width: 35px;
    height: 35px;
    background: #8a8a8a;
    text-align: center;
    line-height: 35px;
    margin-bottom: 2px;
    opacity: 0;
}
.image-qv-additional.owl-theme .owl-controls .owl-buttons div:before{
    display: block;
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 35px;
}
.image-qv-additional.owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 0px;
    top: 50%;
    margin-top: -15px;
    border-radius: 0px 3px 3px 0px;
}
.image-qv-additional.owl-theme .owl-controls .owl-buttons div.owl-prev {
    right: auto;
    left: 0px;
    top: 50%;
    margin-top: -15px;
    border-radius: 3px 0px 0px 3px;
}
.image-qv-additional.owl-theme:hover .owl-controls .owl-buttons div.owl-prev{left: -20px;opacity: 1;}
.image-qv-additional.owl-theme:hover .owl-controls .owl-buttons div.owl-next{right: -20px;opacity: 1;}
.image-qv-additional .owl-prev:after{display: none;}
.image-qv-additional.owl-theme .owl-controls .owl-buttons div:hover{
    background-color: #3c3c3c;
    color: #fff;
}
@media (min-width: 1200px){
    .quickview-container .a-qv-close {
        top: 50%;
        right: 50%;
        margin: -275px -400px 0px 0px;
    }
}
@media (max-width: 1199px){
    .quickview-container .a-qv-close{right: 50%; margin-right: -400px;}
}
@media (max-width: 991px) {
    #quickview-content {
        width: 700px;
        height: 450px;
        margin-left: -350px;
    }
    .quickview-container .a-qv-close{right: 50%; margin-right: -350px;}
    .form-group .button-group {
        float: left;
        display: block;
        margin-left: 0px;
        width: 100%;
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    #quickview-content {
        width: 460px;
        height: 400px;
        margin-left: -230px;
    }
  .quickview-container ul.item-stock{float: none;}
  .quickview-container .form-group .btn-group {    margin-top: 15px;}
  .quickview-container .a-qv-close{right: 50%; margin-right: -230px;}
}
@media (max-width: 479px) {
    #quickview-content {
        width: 300px;
        height: 400px;
        margin-left: -150px;
    }
    #quickview-content .form-group button#button-cart {
        width: auto !important;
        padding: 0 10px;
    }
    .quickview-container .a-qv-close{right: 50%; margin-right: -150px;}
}

